body {
    font-family:'Cormorant Garamond', serif;
    display: flex;
    background-image: url("../img/hbackground.jpg");
    opacity: 0.7;
    background-position: top;
    background-size: cover;
    justify-content: center;
    color: #CC6F7B;
  }

.nav-bar{
  background-color: #FFFFFF;
  color: #52215E ;
  font-weight: bold;
  font-size: 1.25em;
  justify-content: space-between;
  padding: 1em;
  margin: 3em;

}

h1{
  color: #CC6F7B;
  font-weight:lighter;
  font-size: 15em;
  background-color: #FFFFFF;
  opacity: 0.9;
  position: fixed;
}

.home{
  opacity: 0.9;
}

.footer{
  color: #CC6F7B;
  font-weight:bold;
  font-size: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.header{
  color: #CC6F7B;
  font-weight:bold;
  font-size: 1em;
  display: flex;
  justify-content: flex-end;
  align-items:flex-start;
}
