
body {
    font-family:'Cormorant Garamond', serif;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #CC6F7B;
}


.nav-bar {
      color: rgb(82, 33, 94);
      font-weight: bold;
      font-size: 1.25em;
      background-color: #52215E;
      color: #FFFFFF;
      opacity: 0.5;
      font-weight: bold;
      font-size: 1.25em;
      justify-content: center;
      align-items: center;
      padding: 0.6em;
      margin: 4em;
      flex-wrap: wrap;
  }


.personalinfo{
  color: #CC6F7B;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  display: flex;
  margin-top: 3em;
  justify-content:center;
  flex-wrap: wrap;
}

.namelist{
  color: #52215E;
  font-size: 1em;
  font-style: italic;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.education{
  color: #CC6F7B;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  display: flex;
  margin-top: 3em;
  justify-content:center;
  order: 1;
  flex-wrap: wrap;
}

.school{
  color: #52215E;
  font-size: 1em;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.relcoursework{
  color:#CC6F7B;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  display: flex;
  margin-top: 3em;
  justify-content:center;
  order: 2;
  flex-wrap: wrap;
}

.coursework{
  color: #52215E;
  font-size: 1em;
  font-style: italic;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.prof{
  color: #CC6F7B;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  display: flex;
  margin-top: 3em;
  justify-content:center;
  flex-wrap: wrap;
}

.logo{
  color: #52215E;
  font-size: 1em;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content:center;
  flex-wrap: wrap;
}

.skills{
  color: #CC6F7B;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  display: flex;
  margin-top: 3em;
  justify-content:center;
  flex-wrap: wrap;
}

.design{
  color: #52215E;
  font-size: 1em;
  font-style: italic;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.activities{
  color: #CC6F7B;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  display: flex;
  margin-top: 3em;
  justify-content:center;
  flex-wrap: wrap;
}

.work{
  color: #52215E;
  font-size: 1em;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}


.contact{
  color: #CC6F7B;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  display: flex;
  justify-content:center;
  margin-top: 3em;
  flex-wrap: wrap;
}

.mobile{
  color:  #52215E;
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  flex-wrap: wrap;
}

.homenumber{
  color:  #52215E;
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  flex-wrap: wrap;
}

.email{
  color:  #52215E;
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  flex-wrap: wrap;
}

.Form1{
  border: solid #52215E 0.15em;
  flex-wrap: wrap;
}

.note{
  color: #CC6F7B;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.5em;
  display: flex;
  margin-top: 3em;
  justify-content:center;
  flex-wrap: wrap;
}

.name{
  color: #52215E;
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  padding: 0.5em;
  display: flex;
  margin-top: 3em;
  flex-wrap: wrap;
}

.Box1{
  padding: 0.5em;
  display: flex;
  margin-left: 3em;
  flex-wrap: wrap;
}

.mind{
  color: #52215E;
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  padding: 0.5em;
  display: flex;
  margin-top: 3em;
  flex-wrap: wrap;
}

textarea{
  padding: 0.5em;
  display: flex;
  margin-left: 3em;
  flex-wrap: wrap;
}

.Button1{
  color: #52215E;
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  padding: 0.5em;
  display: flex;
  margin-top: 3em;
  flex-wrap: wrap;
}

.Option1{
  color: #52215E;
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  padding: 0.5em;
  display: flex;
  margin-top: 3em;
  flex-wrap: wrap;
}

.Button2{
  padding: 0.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.diary{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.5em;
  flex-wrap: wrap;
}

.aboutme{
  color: #CC6F7B;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  display: flex;
  justify-content:center;
  margin-top: 3em;
  flex-wrap: wrap;
}

.abouttext{
  color:  #52215E;
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  flex-wrap: wrap;
}

.mydegree{
  color: #CC6F7B;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  display: flex;
  margin-top: 3em;
  justify-content:center;
}

.degreetext{
  color:  #52215E;
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  flex-wrap: wrap;
}

.mywork{
  color: #CC6F7B;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.5em;
  display: flex;
  margin-top: 3em;
  justify-content:center;
  flex-wrap: wrap;
}

.mywork1{
  color:  #52215E;
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  flex-wrap: wrap;
}

.mywork2{
  color:  #52215E;
  font-size: 1em;
  font-style: italic;
  flex-wrap: wrap;
}

.header{
  color: #CC6F7B;
  font-weight:bold;
  font-size: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer{
  color: #CC6F7B;
  font-weight:bold;
  font-size: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap;
}


.home{
  color: #CC6F7B;
  font-weight:bold;
  font-size: 0.75em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.5em;
  flex-wrap: wrap;
}
